<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.courage.ccu_monitor.dao.CrawlTitleMapper">
	<resultMap id="BaseResultMap" type="com.courage.ccu_monitor.model.CrawlTitle">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="post_id" property="postId" jdbcType="VARCHAR" />
		<result column="reply_num" property="replyNum" jdbcType="VARCHAR" />
		<result column="author_name" property="authorName" jdbcType="VARCHAR" />
		<result column="author_id" property="authorId" jdbcType="VARCHAR" />
		<result column="pub_time" property="pubTime" jdbcType="TIMESTAMP" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.courage.ccu_monitor.model.CrawlTitle"
		extends="BaseResultMap">
		<result column="text" property="text" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, post_id, reply_num, author_name, author_id, pub_time,
		create_time
	</sql>
	<sql id="Blob_Column_List">
		text
	</sql>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from t_crawl_title
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_crawl_title
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.courage.ccu_monitor.model.CrawlTitle">
		insert into t_crawl_title (id,
		post_id, reply_num,
		author_name, author_id, pub_time,
		create_time, text)
		values (#{id,jdbcType=INTEGER}, #{postId,jdbcType=VARCHAR},
		#{replyNum,jdbcType=VARCHAR},
		#{authorName,jdbcType=VARCHAR},
		#{authorId,jdbcType=VARCHAR}, #{pubTime,jdbcType=TIMESTAMP},
		#{createTime,jdbcType=TIMESTAMP}, #{text,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.courage.ccu_monitor.model.CrawlTitle">
		insert into t_crawl_title
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="postId != null">
				post_id,
			</if>
			<if test="replyNum != null">
				reply_num,
			</if>
			<if test="authorName != null">
				author_name,
			</if>
			<if test="authorId != null">
				author_id,
			</if>
			<if test="pubTime != null">
				pub_time,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="text != null">
				text,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="postId != null">
				#{postId,jdbcType=VARCHAR},
			</if>
			<if test="replyNum != null">
				#{replyNum,jdbcType=VARCHAR},
			</if>
			<if test="authorName != null">
				#{authorName,jdbcType=VARCHAR},
			</if>
			<if test="authorId != null">
				#{authorId,jdbcType=VARCHAR},
			</if>
			<if test="pubTime != null">
				#{pubTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="text != null">
				#{text,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.courage.ccu_monitor.model.CrawlTitle">
		update t_crawl_title
		<set>
			<if test="postId != null">
				post_id = #{postId,jdbcType=VARCHAR},
			</if>
			<if test="replyNum != null">
				reply_num = #{replyNum,jdbcType=VARCHAR},
			</if>
			<if test="authorName != null">
				author_name = #{authorName,jdbcType=VARCHAR},
			</if>
			<if test="authorId != null">
				author_id = #{authorId,jdbcType=VARCHAR},
			</if>
			<if test="pubTime != null">
				pub_time = #{pubTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="text != null">
				text = #{text,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.courage.ccu_monitor.model.CrawlTitle">
		update
		t_crawl_title
		set post_id = #{postId,jdbcType=VARCHAR},
		reply_num =
		#{replyNum,jdbcType=VARCHAR},
		author_name =
		#{authorName,jdbcType=VARCHAR},
		author_id =
		#{authorId,jdbcType=VARCHAR},
		pub_time = #{pubTime,jdbcType=TIMESTAMP},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		text =
		#{text,jdbcType=LONGVARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.courage.ccu_monitor.model.CrawlTitle">
		update
		t_crawl_title
		set post_id = #{postId,jdbcType=VARCHAR},
		reply_num =
		#{replyNum,jdbcType=VARCHAR},
		author_name =
		#{authorName,jdbcType=VARCHAR},
		author_id =
		#{authorId,jdbcType=VARCHAR},
		pub_time = #{pubTime,jdbcType=TIMESTAMP},
		create_time = #{createTime,jdbcType=TIMESTAMP}
		where id =
		#{id,jdbcType=INTEGER}
	</update>




	<select id="selectByTimeScope1" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from t_crawl_title
		where create_time between
		#{start,jdbcType=TIMESTAMP} and
		#{end,jdbcType=TIMESTAMP}
	</select>

	<select id="selectContentVOById" resultMap="ContentResultMap">
		select id, post_id,
		reply_num, author_name, author_id, pub_time,create_time,text
		from
		t_crawl_title
		where post_id = #{titleId}
	</select>
	<resultMap id="ContentResultMap" type="com.courage.ccu_monitor.vo.ContentVO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="post_id" property="postId" jdbcType="VARCHAR" />
		<result column="reply_num" property="replyNum" jdbcType="VARCHAR" />
		<result column="author_name" property="authorName" jdbcType="VARCHAR" />
		<result column="author_id" property="authorId" jdbcType="VARCHAR" />
		<result column="pub_time" property="pubTime" jdbcType="TIMESTAMP" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="text" property="text" jdbcType="LONGVARCHAR" />
		<collection property="replyVOs" column="post_id"
			select="selectReplyVOByTitleId" ofType="com.courage.ccu_monitor.vo.ReplyVO">
		</collection>
	</resultMap>
	<select id="selectReplyVOByTitleId" resultMap="ReplyVosResultMap">
		select id,post_id, open_type, pub_time, post_no, comment_num,title_id,pid,user_id,user_name,create_time,text
		from t_crawl_reply
		where title_id = #{post_id}
	</select>
	<resultMap id="ReplyVosResultMap" type="com.courage.ccu_monitor.vo.ReplyVO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="post_id" property="postId" jdbcType="VARCHAR" />
		<result column="open_type" property="openType" jdbcType="VARCHAR" />
		<result column="pub_time" property="pubTime" jdbcType="TIMESTAMP" />
		<result column="post_no" property="postNo" jdbcType="VARCHAR" />
		<result column="comment_num" property="commentNum" jdbcType="VARCHAR" />
		<result column="title_id" property="titleId" jdbcType="VARCHAR" />
		<result column="pid" property="pid" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="text" property="text" jdbcType="LONGVARCHAR" />
		<collection property="replyVOs" column="post_id" select="selectReplyVOByPid"
			ofType="com.courage.ccu_monitor.vo.ReplyVO">
		</collection>
	</resultMap>
	<select id="selectReplyVOByPid" resultMap="ReplyVos2ResultMap" >
		select id,post_id, open_type, pub_time, post_no, comment_num,title_id,pid,user_id,user_name,create_time,text
		from t_crawl_reply
		where pid = #{postId}
	</select>
	<resultMap id="ReplyVos2ResultMap" type="com.courage.ccu_monitor.vo.ReplyVO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="post_id" property="postId" jdbcType="VARCHAR" />
		<result column="open_type" property="openType" jdbcType="VARCHAR" />
		<result column="pub_time" property="pubTime" jdbcType="TIMESTAMP" />
		<result column="post_no" property="postNo" jdbcType="VARCHAR" />
		<result column="comment_num" property="commentNum" jdbcType="VARCHAR" />
		<result column="title_id" property="titleId" jdbcType="VARCHAR" />
		<result column="pid" property="pid" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="text" property="text" jdbcType="LONGVARCHAR" />
	</resultMap>


	<select id="selectCountOfDay" parameterType="java.lang.String"  resultType="java.lang.Integer">
		select count(id)
		from t_crawl_title
		where create_time like #{time,jdbcType=VARCHAR}
	</select>
	
	<select id="selectAllTitleCount" resultType="java.lang.Integer">
		select count(id)
		from t_crawl_title
	</select>
	
</mapper>