<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.courage.ccu_monitor.dao.CrawlUserMapper">
	<resultMap id="BaseResultMap" type="com.courage.ccu_monitor.model.CrawlUser">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_sex" property="userSex" jdbcType="VARCHAR" />
		<result column="name_u" property="nameU" jdbcType="VARCHAR" />
		<result column="portrait" property="portrait" jdbcType="VARCHAR" />
		<result column="publish_test_num" property="publishTestNum"
			jdbcType="VARCHAR" />
		<result column="tieba_age" property="tiebaAge" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, user_name, user_sex, name_u, portrait, publish_test_num,
		tieba_age,
		create_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_crawl_user
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_crawl_user
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.courage.ccu_monitor.model.CrawlUser">
		insert into t_crawl_user (id, user_id, user_name,
		user_sex, name_u, portrait,
		publish_test_num, tieba_age, create_time
		)
		values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR},
		#{userName,jdbcType=VARCHAR},
		#{userSex,jdbcType=VARCHAR}, #{nameU,jdbcType=VARCHAR}, #{portrait,jdbcType=VARCHAR},
		#{publishTestNum,jdbcType=VARCHAR}, #{tiebaAge,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.courage.ccu_monitor.model.CrawlUser">
		insert into t_crawl_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="userSex != null">
				user_sex,
			</if>
			<if test="nameU != null">
				name_u,
			</if>
			<if test="portrait != null">
				portrait,
			</if>
			<if test="publishTestNum != null">
				publish_test_num,
			</if>
			<if test="tiebaAge != null">
				tieba_age,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="userSex != null">
				#{userSex,jdbcType=VARCHAR},
			</if>
			<if test="nameU != null">
				#{nameU,jdbcType=VARCHAR},
			</if>
			<if test="portrait != null">
				#{portrait,jdbcType=VARCHAR},
			</if>
			<if test="publishTestNum != null">
				#{publishTestNum,jdbcType=VARCHAR},
			</if>
			<if test="tiebaAge != null">
				#{tiebaAge,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.courage.ccu_monitor.model.CrawlUser">
		update t_crawl_user
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="userSex != null">
				user_sex = #{userSex,jdbcType=VARCHAR},
			</if>
			<if test="nameU != null">
				name_u = #{nameU,jdbcType=VARCHAR},
			</if>
			<if test="portrait != null">
				portrait = #{portrait,jdbcType=VARCHAR},
			</if>
			<if test="publishTestNum != null">
				publish_test_num = #{publishTestNum,jdbcType=VARCHAR},
			</if>
			<if test="tiebaAge != null">
				tieba_age = #{tiebaAge,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.courage.ccu_monitor.model.CrawlUser">
		update t_crawl_user
		set user_id = #{userId,jdbcType=VARCHAR},
		user_name = #{userName,jdbcType=VARCHAR},
		user_sex = #{userSex,jdbcType=VARCHAR},
		name_u = #{nameU,jdbcType=VARCHAR},
		portrait = #{portrait,jdbcType=VARCHAR},
		publish_test_num = #{publishTestNum,jdbcType=VARCHAR},
		tieba_age = #{tiebaAge,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>